*.swp
*.log
test-prefix
*.so
*.o
*.o*
*.c
*.dep
*.zo
*.meta
compiled
./srfi-*.scm
./srfi-*.sld
./srfi.*.scm
./srfi.*.sld
srfi-*.import*
srfi-*.sld
test-prefix.txt
reports
packages
srfi-test
Makefile.tests
*@gambit*
